<html layout:decorate="~{layout}">
<html lang="en">

<body>
<div layout:fragment="content">
<!--    맨 위 이미지-->
    <div>
        <div style="width:500px; margin:0 auto 0 auto;">
            <img src="/bootstrap/img/로그인캐릭터.jpg" alt="">
        </div>
    </div>

<!--검색 폼이랑 글쓰기 폼-->
    <div style="height:100px; width:90%; border:3px solid blue; display:flex; justify-content:flex-end; margin:0 auto;" >
        <form action="">
            <input type="text">
        </form>
        <a href="#" th:href="@{/writer}" style="width:100px; height:20px;">글쓰기</a>
    </div>

<!--    게시물-->
    <div style="text-align:center">
        <div style="width:90%; margin:0 auto; border:solid 3px blue; display:flex; flex-wrap:wrap; justify-content:space-between;">
            <div th:each=" Community : ${communityList}" style=" width:49%; height:150px;border:solid 2px yellow; display:inline-block;">
                <a th:href="@{|community/detail/${Community.id}|}" style="display:block; width:100%; height:100%; border:solid 2px green;">
                    <div th:text="${Community.subject}" style="font-weight:bold; "></div>
                    <div th:text="${Community.content}"></div>
                    <div th:text="${Community.region}"></div>
                    <div th:text="|${#lists.size(Community.comment)}|"></div>
                </a>
            </div>
        </div>
    </div>

</div>
</body>

</html>