<!--<html>-->
<!--<head>-->
<!--  <link rel="stylesheet" src="/bootstrap/css/sweetalert2.min.js"/>-->
<!--</head>-->
<!--<script type="text/javascript">-->
<!--&lt;!&ndash;     var result = confirm('회원가입을 하시겠습니까 ?');&ndash;&gt;-->
<!--&lt;!&ndash;        if(result) {&ndash;&gt;-->
<!--&lt;!&ndash;            location.replace('login');&ndash;&gt;-->
<!--&lt;!&ndash;            alert('회원가입이 완료 되었습니다.');&ndash;&gt;-->
<!--&lt;!&ndash;        } else {&ndash;&gt;-->
<!--&lt;!&ndash;            location.replace('signup');&ndash;&gt;-->
<!--&lt;!&ndash;            alert('회원가입이 취소 되었습니다.')&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--            var win = alert('회원가입이 완료 되었습니다.');-->
<!--            win;-->
<!--            location.href = "/login";-->
<!--</script>-->
<!--<body>-->
<!--</body>-->
<!--</html>-->